{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup uikit_themeable
 */
#}
<div{{ attributes }}>
  <div class="site-branding__logo">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-logo uk-inline">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />{% if site_name %} {{ site_name }}{% endif %}
    </a>
  </div>

  <div class="site-branding__slogan">
    <span class="uk-inline">{{ site_slogan }}</span>
  </div>
</div>
