{#
/**
 * @file
 * Theme override to display the branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{%
  set classes = [
    'uk-navbar-item',
  ]
%}

{% if site_logo and site_name %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-navbar-item uk-logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    <span class="uk-margin-small-left">{{ site_name }}</span>
  </a>
{% elseif site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-navbar-item uk-logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
{% elseif site_name %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-navbar-item uk-logo">{{ site_name }}</a>
{% endif %}

{% if site_slogan %}
  <span class="uk-navbar-item uk-margin-small-left">{{ site_slogan }}</span>
{% endif %}
