{#
/**
 * @file
 * Theme override to display a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @see uikit_preprocess_breadcrumb()
 */
#}
{% if breadcrumb and display_breadcrumbs %}
  <nav aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="uk-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li{{ item.list_attributes }}>
          <a{{ item.attributes }}>
            <span{{ item.text_attributes }}>{{ item.text }}</span>
          </a>
          <meta itemprop="position" content="{{ loop.index }}" />
        </li>
      {% else %}
        <li{{ item.list_attributes }}>
          <span{{ item.attributes }}>
            <span{{ item.text_attributes }}>{{ item.text }}</span>
          </span>
          <meta itemprop="position" content="{{ loop.index }}" />
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
